/*Designed by Robert Berki and Coded by Jenn Pereira edits by Sam Ullman*/

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);

.modal-backdrop {
	z-index: 10000;
	background: rgba(40, 40, 60, 0.5);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.confirm-modal {
	z-index: 10001;
	position: absolute;
	width: 70%;
	height: 400px;
	background-color: white;
	left: 14%;
	top: 20%;
	padding: 50px;
}

.confirm-modal p {
	margin-top: 12px;
	margin-bottom: 12px;
	font-size: 16px;
}

.confirm-modal ul {
	font-size: 16px;
	position: relative;
	left: 6%;
}

.confirm-modal ul li {
	margin-top: 4px;
	margin-bottom: 4px;
}
.confirm-modal .before-enter-btn {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
	position: relative;
	top: 92px;
}



body, html{
	font-family: 'Lato', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #3A3A3A;
}

h1{
	text-transform: uppercase;
}
h1 strong{
	font-weight: 900;
}

h2{
	text-transform: uppercase;
	line-height: 20px;
	margin:  0;
}

h3{
font-size: 18px;
font-weight: 900;
text-transform: uppercase;
line-height: 20px;
margin:  0;
}
h4{
	text-transform: uppercase;
}
h5{
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p{
	font-family: 'Open Sans', sans-serif;
}
p.intro{
	font-size: 16px;
	margin: 12px 0 0;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
}
a{ color: #286090;}
a:hover,
a:focus{
	text-decoration: none;
	color: #286090;
}

.section-title hr {
	border-color: #286090;
	border-width: 2px;
	width: 60px;
	clear: both;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
ul, ol{
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
/* Navigation */
#tf-menu {
	padding: 20px;
	transition: all 0.8s;
}
#tf-menu.navbar-default {
	background-color: rgba(248, 248, 248, 0);
	border-color: rgba(231, 231, 231, 0);
}
#tf-menu a.navbar-brand {
text-transform: uppercase;
font-size: 22px;
color: #fff;
font-weight: 900;
}

#tf-menu.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	color: #FFF;
	font-size: 12px;
	font-weight: 900;
	letter-spacing: 1px;
	transition: all 0.5s ease;

	i {
		border: solid 1px white;
		padding: 8px;
		border-radius: 20px;
	}
}

#tf-menu.navbar-default .navbar-nav > li:hover > a {
	text-shadow: 0px 0px 1px #fff;
}



.on {
	background-color: white !important;
	padding: 5 !important;
	color: #222222;
}

.on#tf-menu a.navbar-brand {
text-transform: uppercase;
font-size: 22px;
color: #222222;
font-weight: 900;
}

.on#tf-menu.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	color: #222222;
	font-size: 12px;
	letter-spacing: 1px;

	i {
		border: solid 1px white;
		padding: 8px;
		border-radius: 20px;
	}
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #286090 !important;
	background-color: transparent;
	font-weight: 700;
}


.navbar-toggle {
	border-radius: 5px;
	}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #286090;
	border-color: #286090;
	}

.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #FFF;
	}


/* Home Style */
#home{
	position: relative;

	background:  linear-gradient( rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06) ), url(http://res.cloudinary.com/djjldnjz7/image/upload/v1442535738/tide_hits_rocks_ddc1qc.jpg);
	/*background:  linear-gradient( rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.26) ), url(http://res.cloudinary.com/djjldnjz7/image/upload/v1450314227/lake_2_idxe7v.jpg);*/
	/*background: url(http://res.cloudinary.com/djjldnjz7/image/upload/v1450314234/mountain_sun_tipped_vyaxoh.jpg);*/
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: #fff;
	height: 100vh;
}
.overlay {
	background-color: rgba(44,62,80,0.2);
	height: 100%;
	width: 100%;
	z-index: 1;
}

#home h1{
	font-size: 48px;
	letter-spacing: 4px;
	color: #fff;
}

#home p.lead{
	color: #fff;
	font-weight: 300;
	padding-top: 17px;
}

#home .content{
	position: absolute;
	padding: 24% 0 0;
	padding-top: 34vh;
	width: 100%;
	text-align: center;
}

.color{
	color: #286090;
}

a.fa.fa-angle-down {
	color: #fff;
	font-size: 36px;
}
a.fa.fa-angle-down:hover{
	color: #fff;
	text-shadow: 0px 0px 3px #fff;
}

.arrow-home {
	color: #fff;
	margin-top: 200px;
	margin-bottom: 163px;
	transition: all 0.5s;
	font-weight: 900;
}

.arrow-how-we-invest {
	text-align: center;
}

.arrow-investment-thesis {
	text-align: center;
	color: #fff;
}

.arrow-how-we-invest a {
	position: relative;
	top: 50px;
}

.arrow-investment-thesis a {
	position: relative;
	top: 50px;
}




/* About Section */
#about{
	position: relative;
	padding-top: 100px;
	padding-bottom: 100px;
	font-size: 16px;

}

#about .col-md-4 {
	padding-top: 8%;
}

#about .about-image {
	background:  linear-gradient( rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.16) ), url(http://res.cloudinary.com/djjldnjz7/image/upload/v1451941006/About_Us_v1_h4kn5i.jpg);
	background-size: cover;
	position: relative;
	min-height: 300px;
	max-width: 400px;
	text-align: center;
	margin-bottom: 42px;
	border-radius: 3px;
}

#about .section-title{
	text-align: center;
}


#about .about-us-only{
	margin-bottom: 30px;
}

#about .the-team {
	float: right;
	text-align: right;
}

#about .the-team .section-title{
	float: right;
	text-align: right;
}

#about .the-team hr{
	float: right;
	text-align: right;

}



ul.about-list{ margin: 30px 0 0 ;}
ul.about-list li{
	display: block;
	font-size: 16px;
	line-height: 30px;
	font-family: 'Open Sans', sans-serif;
}
ul.about-list li span{
	margin-right: 10px;
}

/* Team Section */
#how-we-invest{
	position: relative;
	background: linear-gradient( rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.26) ),url(http://res.cloudinary.com/djjldnjz7/image/upload/v1450219056/1_5_w03ckb.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #ffffff;


}
#how-we-invest .overlay{
	/*background-color: rgba(44,62,80,0.35);*/
	height: 100%;
	padding: 100px 0;
}
.section-title.center{
	padding: 30px 0;
}
.section-title h2,
.section-title.center h2{
	font-weight: 300;
}
.section-title.center .line {
	border-top: 2px solid #fff;
	height: 10px;
	width: 60px;
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;
}

.section-title.center .line2 {
	border-top: 2px solid #286090;
	height: 10px;
	width: 90px;
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.section-title.center .line3 {
	border-top: 4px solid #5a5a5a;
	/*height: 10px;*/
	width: 40px;
	text-align: center;
	margin: 0 auto;
	/*margin-top: 20px;*/
}

.section-title.center hr {
	border-top: 4px solid rgba(90, 187, 206, 0.3);
	width: 40px;
	text-align: center;
	margin-top: 10px;
	position: relative;
	left: 17%;
}

#how-we-invest .item .thumbnail:hover>img.img-circle.team-img{
	border: 4px solid #286090;

}

#how-we-invest .thumbnail {
	background: transparent;
	border: 0;
}

#how-we-invest .thumbnail i {
	font-size: 60px;
}

#how-we-invest .thumbnail .caption {
	padding: 9px;
	color: #F2F2F2;
}

.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 10px;
	height: 10px;
	margin: 5px 7px;
	filter: Alpha(Opacity=1);
	opacity: 1;
	-webkit-border-radius: 0;
	-moz-border-radius: 20px;
	border-radius: 0;
	background: #FFFFFF;
	transition: all 0.5s;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
	filter: Alpha(Opacity=100);
	opacity: 1;
	text-shadow: 0px 0px 1px #fff;

}
.owl-theme .owl-controls .owl-page.active span{
	background: #aaa;

}

#investment-thesis{
	padding: 80px 2vw;
	padding-bottom: 60px;
	font-size: 16px;
}

#investment-thesis p{
	text-align: left;
	padding: 2px 10vw;
	font-size: 16px;
}

#investment-thesis .service:hover>i.fa{
	background: #286090;
	color: #ffffff;
}

#themes{
	padding-top: 60px;
	padding-bottom: 100px;
}
.portfolio-item {
	height: 260px;
	overflow: hidden;
	position: relative;
	color: white;
	margin-bottom: 30px;
	color: white;
	padding: 110px 0px;
	transition: all 0.5s ease;
}

.portfolio-item h3 {
	text-align: center;
	font-weight: 600;
}

.portfolio-item:hover {
	opacity: 0.6;
	border-radius: 3px;
}


.portfolio-item.clean-energy{
	background: linear-gradient( rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.26) ), url(http://res.cloudinary.com/djjldnjz7/image/upload/w_562,h_562,o_90,c_fill/v1442541569/wind_power_pretty_road_g7p9wz.jpg);
	background-size: cover;
	padding: 103px 55px;
}
.portfolio-item.water-scarcity{
	background: linear-gradient( rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.26) ), url(http://res.cloudinary.com/djjldnjz7/image/upload/w_562,h_562,o_90,c_fill/v1450895761/drought_2_rxy0jj.jpg);
	background-size: cover;
}
.portfolio-item.sustainable-agriculture{
	background: linear-gradient( rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.26) ), url(http://res.cloudinary.com/djjldnjz7/image/upload/w_562,h_562,o_90,c_fill/v1450896080/austrian_ag_goelgc.jpg);
	background-size: cover;
}
.portfolio-item.life-sciences{
	background:  linear-gradient( rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.26) ), url(http://res.cloudinary.com/djjldnjz7/image/upload/w_562,h_562,o_90,c_fill/v1450896588/photo-1417533366444-43834ad6b3bb_dliua2.jpg);
	background-size: cover;
	padding: 103px 65px;

}
.portfolio-item.social-empowerment{
	background: linear-gradient( rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.26) ), url(http://res.cloudinary.com/djjldnjz7/image/upload/w_562,h_562,o_90,c_fill/v1450896279/children-63175_gq5jqq.jpg);
	background-size: cover;
	padding: 103px 30px;

}
.portfolio-item.natural-resources{
	background: linear-gradient( rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.26) ), url(http://res.cloudinary.com/djjldnjz7/image/upload/w_562,h_562,o_90,c_fit/v1450218798/1_2_xik68t.jpg);
	background-size: cover;
	padding: 103px 35px;

}
.portfolio-item.gender-empowerment{
	background: linear-gradient( rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.26) ), url(http://res.cloudinary.com/djjldnjz7/image/upload/w_562,h_562,o_90,c_fill/v1450896389/girl-1093030_1920_fjmp4i.jpg);
	background-size: cover;
}
.portfolio-item.education{
	background: linear-gradient( rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.26) ), url(http://res.cloudinary.com/djjldnjz7/image/upload/w_562,h_562,o_90,c_fill/v1450218970/1_4_ppkhkq.jpg);
	background-size: cover;
}
.portfolio-item.corportate-sustainability{
	background: linear-gradient( rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.26) ), url(http://res.cloudinary.com/djjldnjz7/image/upload/w_562,h_562,o_90,c_fit/v1450895271/solar-panel-918492_1920_r2fdbt.jpg);
	background-size: cover;
	padding: 103px 12px;

}

#research {
	color: #fff;
	font-size: 18px;
	padding: 100px 0px;
	background: linear-gradient( rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.26) ), url(http://res.cloudinary.com/djjldnjz7/image/upload/o_85/v1450823072/forest2_hglvvx.jpg);
	background-size: cover;
}

#research::after {
	background: rgba(40,40,40,0.6)
}


#research .section-title.center .line2 {
	width: 140px;
}

#research a {
	color: #222;
	color: #fff;
}

#contact {
	position: relative;
	padding: 80px 73px;
  position: relative;
  max-width: 720px;
}

#contact .section-title.center{
	padding: 5px 0;
	float: left;
}


#contact .contact-info {
	text-align: right;
}

#contact h2 {
	margin-bottom: 8px;
}


input.btn.tf-btn {
	float: right;
	background: #286090;
	border: 0;
	border-radius: 0;
	padding: 10px 40px;
	margin-left: 14px;
	margin-bottom: 32px;
	color: #ffffff;
	text-transform: uppercase;
}


.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
	outline: thin dotted;
	outline: none;
	outline-offset: none;
}
/* Footer */
nav#footer{
	background: #222222;
	color: #ffffff;
	padding: 20px 0 25px 0;
}
nav#footer .fnav{ vertical-align: middle;}
ul.footer-social li{
	display: inline-block;
	margin-right: 10px;
}
nav#footer p{
	font-size: 12px;
	margin-top: 10px;
}
#footer i.fa {
	height: 30px;
	width: 30px;
	border: 2px solid #8c8c8c;
	font-size: 20px;
	padding: 4px 5px;
	border-radius: 50%;
	color: #8c8c8c;
	transition: all 0.5s;
}
#footer i.fa:hover{
	background: #286090;
	border-color: #286090;
	color: #ffffff;
}



@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  60% {
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  60% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.arrow {
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 40px;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
