/*Designed by Robert Berki and Coded by Jenn Pereira edits by Sam Ullman*/

body, html{
	font-family: 'Lato', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #3A3A3A;
	min-height:100%;
}

h1{
	text-transform: uppercase;
}

h2{
	text-transform: uppercase;
	line-height: 20px;
	margin:  0;
}

h3{
font-size: 18px;
font-weight: 900;
text-transform: uppercase;
line-height: 20px;
margin:  0;
}
h4{
	text-transform: uppercase;
}
h5{
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p{
	font-family: 'Open Sans', sans-serif;
}
p.intro{
	font-size: 16px;
	margin: 12px 0 0;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
}
a{ color: #286090;}
a:hover,
a:focus{
	text-decoration: none;
	color: #286090;
}

.section-title hr {
	border-color: #286090;
	border-width: 2px;
	width: 60px;
	clear: both;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
ul, ol{
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
/* Navigation */
#tf-menu {
	padding: 20px;
	transition: all 0.8s;
}
#tf-menu.navbar-default {
	background-color: rgba(248, 248, 248, 0);
	border-color: rgba(231, 231, 231, 0);
}
#tf-menu a.navbar-brand {
text-transform: uppercase;
font-size: 22px;
color: #fff;
font-weight: 900;
}

#tf-menu.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	color: #FFF;
	font-size: 12px;
	font-weight: 900;
	letter-spacing: 1px;
	transition: all 0.5s ease;

	i {
		border: solid 1px white;
		padding: 8px;
		border-radius: 20px;
	}
}

#tf-menu.navbar-default .navbar-nav > li:hover > a {
	text-shadow: 0px 0px 1px #fff;
}



.on {
	background-color: white !important;
	padding: 5 !important;
	color: #222222;
}

.on#tf-menu a.navbar-brand {
text-transform: uppercase;
font-size: 22px;
color: #222222;
font-weight: 900;
}

.on#tf-menu.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	color: #222222;
	font-size: 12px;
	letter-spacing: 1px;

	i {
		border: solid 1px white;
		padding: 8px;
		border-radius: 20px;
	}
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #286090 !important;
	background-color: transparent;
	font-weight: 700;
}


.navbar-toggle {
	border-radius: 5px;
	}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #286090;
	border-color: #286090;
	}

.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #FFF;
	}


/* Home Style */
#home{
	position: relative;
	height: 100vh;
	/*background: linear-gradient( rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.12) ), url(http://res.cloudinary.com/djjldnjz7/image/upload/h_900,w_1400,c_fit/v1442535738/tide_hits_rocks_ddc1qc.jpg) no-repeat center center fixed;*/
	background-size: cover;
	background-color: #464646;
	/*background-attachment: scroll;*/

	color: #fff;
}


#home h1{
	font-size: 48px;
	letter-spacing: 4px;
	color: #fff;
}

#home p.lead{
	color: #fff;
	font-weight: 300;
	padding-top: 17px;
}

#home .content{
	position: absolute;
	padding: 24% 0 0;
	padding-top: 34vh;
	width: 100%;
	text-align: center;
}

.color{
	color: #286090;
}

a.fa.fa-angle-down {
	color: #fff;
	font-size: 36px;
}
a.fa.fa-angle-down:hover{
	color: #fff;
	text-shadow: 0px 0px 3px #fff;
}

.arrow-home {
	color: #fff;
	margin-top: 200px;
	margin-bottom: 163px;
	transition: all 0.5s;
	font-weight: 900;
}

.arrow-how-we-invest {
	text-align: center;
}

.arrow-investment-thesis {
	text-align: center;
	color: #fff;
}

.arrow-how-we-invest a {
	position: relative;
	top: 50px;
}

.arrow-investment-thesis a {
	position: relative;
	top: 50px;
}




/* About Section */
#about{
	position: relative;
	padding-top: 100px;
	padding-bottom: 180px;
	font-size: 18px;
}
#about h1 {
	margin-bottom: 78px;
}

#about .col-sm-7 {
	padding-left: 44px;
}

#about .about-image {
	background:  linear-gradient( rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) ), url(http://res.cloudinary.com/djjldnjz7/image/upload/h_0.3,w_0.3/v1451941006/About_Us_v1_h4kn5i.jpg);
	background-size: cover;
	position: relative;
	min-height: 300px;
	width: 100%;
	padding: 0px 50px;
	text-align: center;
	border-radius: 1px;
	margin-bottom: 26px;
}

#about p {
	margin-bottom: 16px;
}



#who-we-are {
	position: relative;
	padding-top: 100px;
	padding-bottom: 180px;
	font-size: 18px;
	min-height: 200px;
	line-height: 25px;
	background:  linear-gradient( rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0) ), url(http://res.cloudinary.com/djjldnjz7/image/upload/h_900,w_1400,c_fit/v1442536372/inside_ocean_tvlug6.jpg) no-repeat center center fixed;
	background-size: cover;
	color: #f2f2f2;
}

#who-we-are h1 {
	margin-bottom: 108px;
}


#who-we-are .col-sm-7 {
	padding-right: 44px;
}
#who-we-are p {
	margin-bottom: 16px;
}



#how-we-invest{
	position: relative;

	color: rgb(58, 58, 58);
	padding: 100px 0;
	padding-bottom: 120px;

}

#how-we-invest h1{
	margin-bottom: 88px;
}
#how-we-invest .thumbnail {
	color: rgb(22, 37, 82);
	background: transparent;
	border: 0;
	text-shadow: 5px 2px 1px rgba(26, 50, 121, 0.38);
}

#how-we-invest .thumbnail i {
	font-size: 60px;
}

#how-we-invest .thumbnail .caption {
	padding: 9px;
	color: #F2F2F2;
	color: #1A3279;
	color: rgb(14, 32, 86);

	font-weight: bold;
	text-shadow: 3px 1px 1px rgba(26, 50, 121, 0.38);
	text-shadow: none;
}

#investment-thesis{
	background:  linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url(http://res.cloudinary.com/djjldnjz7/image/upload/h_900,w_1400,c_fit/v1450219056/1_5_w03ckb.jpg) no-repeat center center fixed;
	background-size: cover;
	padding: 100px 2vw;
	padding-bottom: 140px;
	font-size: 18px;
	line-height: 25px;
	color: #f2f2f2;
}

#investment-thesis h1{
	margin-bottom: 60px;
}

#investment-thesis p{
	text-align: left;
	padding: 2px 10vw;
	font-size: 16px;
}

#investment-thesis .service:hover>i.fa{
	background: #286090;
	color: #ffffff;
}

#themes{
	padding-top: 100px;
	padding-bottom: 120px;
}

#themes h1{
	margin-bottom: 68px;
}

.portfolio-item {
	height: 260px;
	overflow: hidden;
	position: relative;
	color: white;
	margin-bottom: 30px;
	color: white;
	padding: 110px 0px;
	transition: all 0.5s ease;
}

.portfolio-item h3 {
	text-align: center;
	font-weight: 600;
}

.portfolio-item:hover {
	opacity: 0.6;
	border-radius: 3px;
}


.portfolio-item.clean-energy{
	background: linear-gradient( rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.26) ), url(http://res.cloudinary.com/djjldnjz7/image/upload/w_262,h_262,o_90,c_fill/v1442541569/wind_power_pretty_road_g7p9wz.jpg);
	background-size: cover;
	padding: 103px 55px;
}
.portfolio-item.water-scarcity{
	background: linear-gradient( rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.26) ), url(http://res.cloudinary.com/djjldnjz7/image/upload/w_262,h_262,o_90,c_fill/v1450895761/drought_2_rxy0jj.jpg);
	background-size: cover;
}
.portfolio-item.sustainable-agriculture{
	background: linear-gradient( rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.26) ), url(http://res.cloudinary.com/djjldnjz7/image/upload/w_262,h_262,o_90,c_fill/v1450896080/austrian_ag_goelgc.jpg);
	background-size: cover;
}
.portfolio-item.life-sciences{
	background:  linear-gradient( rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.26) ), url(http://res.cloudinary.com/djjldnjz7/image/upload/w_262,h_262,o_90,c_fill/v1450896588/photo-1417533366444-43834ad6b3bb_dliua2.jpg);
	background-size: cover;
	padding: 103px 65px;

}
.portfolio-item.social-empowerment{
	background: linear-gradient( rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.26) ), url(http://res.cloudinary.com/djjldnjz7/image/upload/w_262,h_262,o_90,c_fill/v1450896279/children-63175_gq5jqq.jpg);
	background-size: cover;
	padding: 103px 30px;

}
.portfolio-item.natural-resources{
	background: linear-gradient( rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.26) ), url(http://res.cloudinary.com/djjldnjz7/image/upload/w_262,h_262,o_90,c_fit/v1450218798/1_2_xik68t.jpg);
	background-size: cover;
	padding: 103px 35px;

}
.portfolio-item.gender-empowerment{
	background: linear-gradient( rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.26) ), url(http://res.cloudinary.com/djjldnjz7/image/upload/w_262,h_262,o_90,c_fill/v1450896389/girl-1093030_1920_fjmp4i.jpg);
	background-size: cover;
}
.portfolio-item.education{
	background: linear-gradient( rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.26) ), url(http://res.cloudinary.com/djjldnjz7/image/upload/w_262,h_262,o_90,c_fill/v1450218970/1_4_ppkhkq.jpg);
	background-size: cover;
}
.portfolio-item.corportate-sustainability{
	background: linear-gradient( rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.26) ), url(http://res.cloudinary.com/djjldnjz7/image/upload/w_262,h_262,o_90,c_fit/v1450895271/solar-panel-918492_1920_r2fdbt.jpg);
	background-size: cover;
	padding: 103px 12px;

}

#research {
	color: #fff;
	font-size: 18px;
	padding: 110px 0px;
	padding-bottom: 120px;
	background: linear-gradient( rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.16) ), url(http://res.cloudinary.com/djjldnjz7/image/upload/o_85,h_900,w_1400,c_fit/v1450823072/forest2_hglvvx.jpg) no-repeat center center fixed;
	background-size: cover;
}

#research h1 {
	margin-bottom: 80px;
}

#research a {
	color: #222;
	color: #fff;
}

#contact {
	position: relative;
	padding: 80px 73px;
	padding-bottom: 200px;
  position: relative;
  max-width: 720px;
}

#contact .section-title.center{
	padding: 5px 0;
	float: left;
}


#contact .contact-info {
	text-align: right;
}

#contact h2 {
	margin-bottom: 8px;
}

.black-box {
	height: 100px;
	background-color: #121212;

}


input.btn.tf-btn {
	float: right;
	background: #286090;
	border: 0;
	border-radius: 0;
	padding: 10px 40px;
	margin-left: 14px;
	margin-bottom: 32px;
	color: #ffffff;
	text-transform: uppercase;
}


.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
	outline: thin dotted;
	outline: none;
	outline-offset: none;
}
/* Footer */
nav#footer{
	background: #222222;
	color: #ffffff;
	padding: 20px 0 25px 0;
}
nav#footer .fnav{ vertical-align: middle;}
ul.footer-social li{
	display: inline-block;
	margin-right: 10px;
}
nav#footer p{
	font-size: 12px;
	margin-top: 10px;
}
#footer i.fa {
	height: 30px;
	width: 30px;
	border: 2px solid #8c8c8c;
	font-size: 20px;
	padding: 4px 5px;
	border-radius: 50%;
	color: #8c8c8c;
	transition: all 0.5s;
}
#footer i.fa:hover{
	background: #286090;
	border-color: #286090;
	color: #ffffff;
}
